{% extends 'base.html.twig' %}

{% block title %}Torneig index{% endblock %}

{% block body %}

{#        <script>$(document).ready( function () {
                $('#table').DataTable();
            })
        </script>#}


    <h1>Torneig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rondes</th>
                <th>Data</th>
                <th>TheParticipants</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for torneig in torneigs %}
            <tr>
                <td>{{ torneig.id }}</td>
                <td>{{ torneig.rondes ? torneig.rondes|join(', ') : '' }}</td>
                <td>{{ torneig.data ? torneig.data|date('Y-m-d') : '' }}</td>
                <td>{{ torneig.theParticipants|length}}</td>
                <td>{{ torneig.nom }}</td>
                <td>
                    <a href="{{ path('torneig_show', {'id': torneig.id}) }}">show</a>
                    <a href="{{ path('torneig_edit', {'id': torneig.id}) }}">edit</a>
                    <a href="{{ path('torneig_addJugadors', {'id': torneig.id}) }}">Afegir Jugador</a>
                    <a href="{{ path('torneig_gestiorondes', {'id': torneig.id}) }}">Gestionar Rondes</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('torneig_new') }}">Create new</a>
{% endblock %}
