{% extends 'base.html.twig' %}

{% block title %}{{ torneig.nom }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block body %}
    <h1 class="has-text-centered is-size-3 m-5">Nom Torneig: <span class="has-text-primary">{{ torneig.nom }}</span></h1>
    <div class="is-flex is-justify-content-space-evenly " >
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Data</p>
                <p class="title">{{  torneig.data ? torneig.data|date('Y-m-d') : '?'}}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Rondes</p>
                <p class="title">{{ torneig.rondes|length }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Numero Participants</p>
                <p class="title">{{ torneig.theParticipants|length }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Arbitre:</p>
                <p class="title">{{ torneig.propietari.nom }}</p>
            </div>
        </div>
    </div>
    <div class="is-flex is-justify-content-center">
        <h3>Numero de RONDA: {{ ronda.numRondes }}</h3>

    </div>
    <a class="button is-success" href="{{ path("ronda",{'id':torneig.id}) }}">Next Round</a>
    <table>
        <thead>
        <tr>
            <th>T.</th>
            <th>Jug. Blanques</th>
            <th>Puntuacio</th>
            <th>Jug. Negres</th>
        </tr>
        </thead>
        <tbody>

        {#    {% set break = false %}
            {% for ronda in rondes if not break %}#}

                    {% for taula in ronda.partides %}
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>

                            <td>
                                {{ taula.jugadorB.nom }}
                            </td>

                            <td>
                                0-0
                            </td>
                            <td>
                                {{ taula.jugadorN.nom }}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>No Partides</td>
                        </tr>
                    {% endfor %}
                    {% set break = true %}

          {#  {% endfor %}#}
        </tbody>

    </table>

    <style>
        .container{
            height: 100%;
        }
        .shadow {
            border: 2px solid #00d1b2;
            border-top: none;
            border-bottom: none;
        }
        .jugadorsTorn
        {
            text-decoration: none;
            color: rgb(0, 209, 178);
            font-weight: bold;
        }

        .jugadorsTorn:hover
        {
            color: rgb(0, 209, 178);
            text-decoration: underline;
        }

        .refTorn
        {
            text-decoration: none;
            color: rgb(0, 209, 178);
        }

        .refTorn:hover
        {
            text-decoration: underline;
            color: rgb(0, 209, 178);
        }

        p:first-letter
        {
            text-transform: uppercase;
        }

        table {
            color:#666;
            font-size:25px;
            text-shadow: 1px 1px 0px #fff;
            margin:20px;
            border:#ccc 1px solid;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;

            -moz-box-shadow: 0 1px 2px #d1d1d1;
            -webkit-box-shadow: 0 1px 2px #d1d1d1;
            box-shadow: 0 0 10px rgba(110,110,110, 0.5);
            text-transform: uppercase;

        }
        table a{
            color:#00d1b2;
        }
        table a:link {
            color:#00d1b2;
            font-weight: bold;
            text-decoration: none;
        }
        table a:active,
        table a:hover {
            color:#00d1b2;
            text-decoration:underline;
        }

        table th {
            color: white;
            padding:21px 25px 22px 25px;
            border-bottom:1px solid #e0e0e0;
            letter-spacing: 1.5px;
            background: #00d1b2;
            font-weight: normal;
        }
        table th:first-child {
            text-align: left;
            padding-left:20px;
        }
        table tr:first-child th:first-child {
            -moz-border-radius-topleft:3px;
            -webkit-border-top-left-radius:3px;
            border-top-left-radius:3px;
        }
        table tr:first-child th:last-child {
            -moz-border-radius-topright:3px;
            -webkit-border-top-right-radius:3px;
            border-top-right-radius:3px;
        }
        table tr {
            text-align: center;
            padding-left:20px;
        }
        table td:first-child {
            text-align: left;
            padding-left:20px;
            border-left: 0;
        }
        table td {
            padding:18px;
            border-top: 1px solid #ffffff;
            border-bottom:1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;

            /*     background: #fafafa;
                 background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
                 background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/
        }
        table tr:last-child td {
            border-bottom:0;
        }
        table tr:last-child td:first-child {
            -moz-border-radius-bottomleft:3px;
            -webkit-border-bottom-left-radius:3px;
            border-bottom-left-radius:3px;
        }
        table tr:last-child td:last-child {
            -moz-border-radius-bottomright:3px;
            -webkit-border-bottom-right-radius:3px;
            border-bottom-right-radius:3px;
        }
    </style>
{% endblock %}