<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arbitre Registre</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../styles/css/regArbit-style.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block style %}

    {% endblock %}
</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{path("inici")}}">
            <img src="https://www.shareicon.net/data/128x128/2015/10/31/664739_knight_512x512.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path("inici") }}">
                Home
            </a>
            {% if is_granted("ROLE_USER") %}
                <a class="navbar-item is-selected" href="{{ path("user_torneigos") }}">
                    Mis Torneos
                </a>
            {% else %}
                <a class="navbar-item" href="{{ path("torneig_all_public") }}">
                    Torneigos
                </a>
            {% endif %}


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Més..
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ path("torneig_all_public") }}">
                        Torneigos
                    </a>
                    <a class="navbar-item" href="{{ path("arbitres") }}">
                        Arbitres
                    </a>
                    <a class="navbar-item" href="{{ path("jugadors") }}">
                        Jugadors
                    </a>
                </div>
            </div>
        </div>

        {% if is_granted("ROLE_USER") %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" style="border: 1px solid white" href="{{ path('user_edit',{'id': app.user.id})}}">
                            <strong><i class="fas fa-user" ></i> Perfil</strong>
                        </a>
                        <a class="button is-danger" href="{{ path('app_logout') }}" >
                            <strong><i class="fas fa-sign-out-alt"></i> Logout</strong>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" style="border: 1px solid white" href="{{path('user_new')  }}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{{path('app_login')  }}">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

{#------------------------#}
{% block body %}

{% endblock %}
<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            var $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
</body>
<footer>
    <div class="footerContent">
        <div class="faBox">
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-facebook"></a>
        </div>
        <p>&copy; Torneig</p>
    </div>
</footer>
<style>
    :root {
        --brandColor: hsl(166, 67%, 51%);
        --background: rgb(247, 247, 247);
        --textDark: hsla(0, 0%, 0%, 0.66);
        --textLight: hsla(0, 0%, 0%, 0.33);
    }

    body {
        background: var(--background);
        height: 100vh;
        color: var(--textDark);
    }

    .field:not(:last-child) {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 10rem;
        background: white;
        border-radius: 10px;
    }

    .left,
    .right {
        padding: 4.5rem;
    }

    .left {
        border-right: 5px solid var(--background);
    }

    .left .title {
        font-weight: 800;
        letter-spacing: -2px;
    }

    .left .colored {
        color: var(--brandColor);
        font-weight: 500;
        margin-top: 1rem !important;
        letter-spacing: -1px;
    }

    .left p {
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right .title {
        font-weight: 800;
        letter-spacing: -1px;
    }

    .right .description {
        margin-top: 1rem;
        margin-bottom: 1rem !important;
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right small {
        color: var(--textLight);
    }

    input {
        font-size: 1rem;
    }

    input:focus {
        border-color: var(--brandColor) !important;
        box-shadow: 0 0 0 1px var(--brandColor) !important;
    }

    footer
    {
        margin-top: 60em;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: transparent;
        min-height: 6vh;
    }

    footer p
    {
        color: black;
        bottom: 0;
        margin-top: 5px;
        text-align: center;
    }

    .faBox
    {
        font-size: 40px;
        width: 100%;
        justify-content: space-around;
        text-align: center;
        display: flex;

    }

    .fab,
    .fas {
        color: var(--textLight);
        margin-right: 1rem;
    }
    .valtext{
        vertical-align: center;
    }

    .fab
    {
        color: #00d1b2;
        text-decoration: none;
    }

    .fab:hover
    {
        transform: scale(1.5);
        transition: all ease 500ms;
        cursor: pointer;
    }

</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</html>