{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

{{ form_start(post_form,{'attr':{'class':'box'}}) }}
                        {{ form(post_form) }}
                        {{ form_end(post_form) }}
                        {% for message in app.flashes('error')%}
                            <div class="notification is-danger">
                                <button class="delete"></button>
                                {{  message  }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success')%}
                            <div class="notification is-success">
                                <button class="delete"></button>
                                {{  message  }}
                            </div>
                        {% endfor %}
{% endblock %}